<div class="background">
  <app-navbar></app-navbar>
  <div class="container container-content">
    <div class="row">
      <div class="col-md-8 col-md-pull-6 mt-5">
        <div class="text-card">
          <p class="welcome-text">Enjoy your time</p>
          <p class="welcome-text">Connect to people</p>
        </div>
      </div>
      <div class="col-md-4 col-md-push-6 mt-3">
        <div class="form-background">
          <div class="form-container">
            <h1 class="login-text text-center pt-5">Log into account</h1>
            <app-login-form></app-login-form>
            <hr class="w-75 mx-auto">
            <h2 class="text-center login-text text-gray">OR Register</h2>
            <div class="row pb-5 me-1 ms-1">
              <a class="register btn btn-primary" href="register">Register</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    
</div>