.background{
    background-image: url("/assets/images/Friends.jpg");
    background-size: 100% auto;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
}

.text-card{
    width: auto;
    height: auto;
    background-color: rgba(255,255,255,0.5);
    margin-top: 0;
    margin-right: 30px;
    margin-left: 30px;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 5px;
}

.text-card p {
    font-size: calc(2em + 1vw);
    font-family: 'Roboto';
    font-weight: normal;
    color: #556B2F;
    line-height: 1;
    
}

.container-content{
    margin-top: 65px;
    height: calc(100vh - 65px);
}

.form-background{
    margin: auto;
    height: auto;
    width: calc(30vh + 100px);
    background-color: rgba(255,255,255,0.6);
    border-radius: 5px;
    backdrop-filter: blur(5px);
}

.login-text{
    font-family:'Trebuchet MS' 'sans-serif';
    font-weight: normal;
    color: rgb(100,100,100);
}

.register{
    position: relative;
    margin: auto;
    background-color: #FA7F08;
    border:solid 1px #FA7F08;
    width: 76%;
}

.register:hover{
    position: relative;
    margin: auto;
    background-color: #F24405;
    border:solid 1px #F24405;
    width: 76%;
}

.register:active{
    position: relative;
    margin: auto;
    background-color: #F24405;
    border:solid 1px #F24405;
    width: 76%;
}
