.notification-toast {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  padding: 20px;
  max-width: 400px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  background: white;
  border-radius: 6px;
  border: solid 1px rgb(230,230,230);
  margin-bottom: 20px;
  margin-left: 50px;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.content .name{
  font-size: 13pt;
  font-weight: 500;
}

.content .message {
  margin: 0;
  font-size: 12pt;
  color: #444;
}