<div class="container h-100">
    <div class="row h-100">
        <div class="col-10 mx-auto" >
            <div class="wall"></div>
            <div class="member-primary-info">
                <div class="member-image">
                    <app-loader Cwidth="250" Cheight="250" [circle]="true" *ngIf="!photoLoaded"></app-loader>
                    <img [src]="this.profilePhoto || './assets/images/user.png'" alt="" *ngIf="photoLoaded">
                </div>
                <div class="info">
                    <p class="name">{{member.firstname}} {{member.lastname}}</p>
                    <p class="location">{{member.city}}, {{member.country}}</p>
                </div>
                <div class="friends-button" *ngIf="currentUser?.userName !== member.username">
                    <app-loader Cheight="40" Cwidth="170" *ngIf="!areFriendsLoaded"></app-loader>
                    <button *ngIf="friends === false && 
                                   friendRequestSent === false && 
                                   friendRequestReceived === false &&
                                   areFriendsLoaded" class="add-friend" (click)="sendFriendRequest(currentUser!.userName, member.username)">
                        <p>
                            <fa-icon [icon]="faAdd"></fa-icon>
                            <fa-icon [icon]="faUserFriend"></fa-icon> 
                            Add Friend
                        </p>
                    </button>
                    <button *ngIf="friends && areFriendsLoaded" class="friends" disabled>
                        <p>
                            <fa-icon [icon]="faCheck"></fa-icon>
                            <fa-icon [icon]="faUserFriend"></fa-icon>
                            Friends
                        </p>
                    </button>
                    <button *ngIf="friendRequestSent && 
                                   friends === false &&
                                   areFriendsLoaded" class="friend-request" disabled>
                        <p>
                            <fa-icon [icon]="faUserFriend" class=""></fa-icon>
                            Request Sent
                        </p>
                    </button>
                    <button *ngIf="friendRequestReceived && 
                                   friends === false &&
                                   areFriendsLoaded" class="friend-request" (click)="answerFriendRequest(currentUser!.userName, member.username)">
                        <p>
                            <fa-icon [icon]="faUserFriend" class=""></fa-icon>
                            Accept Request
                        </p>
                    </button>
                </div>
            </div>
            <div class="profile-content">   
                <div class="menu">
                    <button
                        *ngFor="let button of buttons; let i = index"
                        (click)="selectTab(this.buttons[i])"
                        [class.active]="selectedTab === this.buttons[i]"
                        >
                    {{this.buttons[i]}}
                    </button>
                </div>
                <div class="tab-content">
                    <div class="success">
                        <div class="container">
                            <div class="row">
                                <div class="col-2 text-center"><h1>{{this.selectedTab}}</h1></div>
                                <div class="col-10 content">
                                    <app-member-about *ngIf="this.selectedTab === 'About'" [member]="this.member"></app-member-about>
                                    <app-member-interests *ngIf="this.selectedTab === 'Interests'" [member]="this.member"></app-member-interests>
                                    <app-member-friends *ngIf="this.selectedTab === 'Friends'" [user]="this.member"></app-member-friends>
                                    <app-member-photos *ngIf="this.selectedTab === 'Photos'" [member]="this.member" 
                                                                                             [profilePhoto]="profilePhoto"
                                                                                             [currentProfilePhoto]="currentProfilePhoto">
                                    </app-member-photos>
                                    <app-member-posts *ngIf="this.selectedTab === 'Posts'" [member]="this.member" 
                                                                                           [profilePhoto]="profilePhoto"
                                                                                           [currentProfilePhoto]="currentProfilePhoto">
                                    </app-member-posts>
                                </div>            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>