<div class="container">
    <div class="row g-4">
        <div class="col-6" *ngFor="let friend of friends">
            <div class="card">
                <div class="friend-image">
                    <img *ngIf="friend.imageLoaded" [src]="friend.safeImageUrl || '/assets/images/user.png'" alt="">
                    <div *ngIf="!friend.imageLoaded" class="spinner"></div>
                </div>
                <a [href]="'/community/' + friend.username" class="member-redirection">{{friend.firstname}} {{friend.lastname}}</a>
            </div>
        </div>
    </div>
</div>
<div class="no-friends" *ngIf="friends.length === 0 && loaded">
    No friends yet
</div>