.content{
    max-height: 600px;
    overflow-y: hidden;
    overflow-x: hidden;
    z-index: 10000;
}

.header p{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 18pt;
    padding-top: 20px;
    padding-bottom: 5px;
}

.close-button{
    text-align: center;
    width: 35px;
    height: 35px;
    top: 10px;
    right: 20px;
    position: absolute;
    background-color: white;
    color: rgb(100,100,100);
    border:none;
    font-size: 18pt;
}

.close-button:hover{
    color: rgb(40,40,40);
}

textarea{
    border:none;
    left: 50px;
    outline: none;
    resize: none;
    padding: 10px;
    font-size: 15pt;
    width: 450px;
}

textarea::-webkit-scrollbar {
  display: none;
}

.profile{
    width: 200px;
    height: 60px;
}

.profile-pic {
    display: inline-block;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.profile-pic img{
    display: inline-block;
    max-width:40px;
    max-height:40px;
    object-fit: cover;
    width: 100%;
    height: 40px;
}

.profile .profile-name{
    display: inline;
    margin-left: 20px;
    font-family: 'Roboto';
    font-size: 11pt;
    color: black;
    font-weight: 500;

}

form{
    display: inline-block;
}

.add-photo{
    display: inline-block;
    top: 0;
    margin-left: 25px;
    width: 140px;
    padding: 7px;
    background-color: rgb(240,240,240);
    border-radius: 10px;
    color: rgb(110,110,110);
    font-family: 'Roboto';
    font-size: 12pt;
    border: none;
    margin-bottom: 10px;
}

.add-photo:hover{
    background-color: rgb(220,220,220);
    transition-duration: .2s;
}

.add-interest{
    display: inline-block;
    top: 0;
    margin-left: 10px;
    width: 140px;
    height: 40px;
    background-color: rgb(240,240,240);
    border-radius: 10px;
    color: rgb(110,110,110);
    font-family: 'Roboto';
    font-size: 12pt;
    border: none;
    margin-bottom: 10px;
}

.add-interest:hover{
    background-color: rgb(220,220,220);
    transition-duration: .2s;
}

.post-button{
    width: 460px;
    height: 40px;
    margin-left: 20px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    font-family: 'Roboto';
    font-size: 12pt;
    font-weight: 500;
}

.post-button:hover:enabled{
    background-color: #5051FA;
    color: white;
    transition-duration: .2s;
}

.choose-interest-layout{
    margin-top: 20px;
    margin-bottom: 20px; 
    margin-left: 15px;
    margin-right: 28px;
}

.choose-interest-layout input[type="checkbox"] {
    display: none;
}

.choose-interest-layout input[type="checkbox"] + .interest-button{
    width: fit-content;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
    border: solid 2px #7030C1;
    background-color: white;
    color: #7030C1;
    border-radius: 20px;
    font-size: 1rem;
    font-family: 'Roboto';
    display: inline-block;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    justify-content: center;
}


.choose-interest-layout input[type="checkbox"]:checked + .interest-button{
    background-color: #7030C1;
    color: white;
}


.select-button{
    width: 460px;
    height: 40px;
    margin-left: 20px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    font-family: 'Roboto';
    font-size: 12pt;
    font-weight: 500;
}

.select-button:hover:enabled{
    background-color: #5051FA;
    color: white;
    transition-duration: .2s;
}

.back-button{
    position: absolute;
    top:12px;
    left: 15px;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    font-size: 16pt;
    background-color: white;
    color: rgb(100,100,100);
    border: none;
}

.back-button:hover{
    color: rgb(40,40,40);
    background-color: rgb(220,220,220);
}

.error{
    background-color: #FAF8C8;
    color: #FA6663;
    font-family: 'Roboto';
    font-size: 11pt;
    font-weight: 500;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;
}

.labels{
    margin-left: 15px;
    margin-bottom: 10px;
}

.label-interest{
    display: inline-block;
    padding: 7px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 10px;
    background-color: #D2A0FA;
    border: solid 2px #C083FA;
    border-radius: 5px;
    color: white;
}

.label-interest p{
    font-family: 'Roboto';
    font-size: 12pt;
    margin-bottom: 0px;
}

.label-interest .remove-interest{
    position: absolute;
    width: 18px;
    height: 18px;
    font-size: 9pt;
    border-radius: 50%;
    margin-top: -14px;
    margin-left: -24px;
    cursor: pointer;
}

input[type="file"]{
    display: none;
}

.photo{
    margin-bottom: 10px;
    width: 498px;
    max-height: 200px;
    overflow-y: auto;
}

.photo:hover{
    scrollbar-width: auto;
}

.photo::-webkit-scrollbar{
    width: 8px;
    opacity: 0;

}

.photo::-webkit-scrollbar-track{
    background: transparent;
}

.photo::-webkit-scrollbar-thumb{
    background:rgba(0,0,0,.2);
    border-radius: 4px;
    margin-right: 10px;
}

.photo::-webkit-scrollbar-thumb:hover{
    background:rgba(0,0,0,.4);
}