<div class="online-users">
    <div class="header text-center">Online friends</div>
    @for(user of onlineMembers; track user){
        <div class="user" [routerLink]="'/messages/' + user.username">
            <div class="online-user-picture">
                <img [src]="this.urlMap.get(user.username) || 'assets/images/user.png'" alt="">
                <div class="icon"></div>
            </div>
            <span class="username">{{user.firstname}} {{user.lastname}}</span>
        </div>
    }
</div>