<div class="profile-navigation">
    <div class="profile-picture mx-auto">
        <div *ngIf="!photoLoaded">
            <app-loader Cwidth="150" Cheight="150" [circle]="true" ></app-loader>
            <app-loader Cwidth="150" Cheight="30" MarginTop="25"></app-loader>
        </div>
        <img width="150" height="150" [src]="this.imageUrl ? this.imageUrl : 'assets/images/user.png'" style="background-size:auto 100%;" class="profile-picture"  alt="" *ngIf="photoLoaded">
    </div>
    <h1 class="text-center m-4">{{this.currentUser?.firstname}} {{this.currentUser?.lastname}}</h1>
    <hr>
    <div *ngIf="!photoLoaded">
        <app-loader Cwidth="150" Cheight="30" MarginLeft="35"></app-loader>
        <app-loader Cwidth="150" Cheight="30" MarginLeft="35" MarginTop="10"></app-loader>
        <app-loader Cwidth="150" Cheight="30" MarginLeft="35" MarginTop="10"></app-loader>
        <app-loader Cwidth="150" Cheight="30" MarginLeft="35" MarginTop="10"></app-loader>
    </div>
    <div *ngIf="photoLoaded">
        <p><fa-icon [icon]="faAddressCard" class="me-2"></fa-icon>About</p>
        <p><fa-icon [icon]="faUserFriends" class="me-2"></fa-icon>Friends</p>
        <p><fa-icon [icon]="faEnvelope" class="me-2"></fa-icon>Messages</p>
        <p><fa-icon [icon]="faCog" class="me-2"></fa-icon>Settings</p>
    </div>
</div>