<div class="content">
    <div class="row">
        <div class="col-12">
            <div class="post-loader" *ngIf="!loaded">
                <div class="post">
                    <app-loader Cwidth="40" Cheight="40" [circle]="true" MarginLeft="20" [inlineBlock]="true"></app-loader>
                    <app-loader Cwidth="150" Cheight="40" MarginLeft="10" MarginTop="-10" [inlineBlock]="true"></app-loader>
                    <app-loader Cwidth="300" Cheight="30" MarginLeft="20" MarginTop="15"></app-loader>
                    <app-loader Cwidth="660" Cheight="30" MarginLeft="20" MarginTop="15"></app-loader>
                    <app-loader Cwidth="660" Cheight="30" MarginLeft="20" MarginTop="15"></app-loader>
                    <app-loader Cwidth="660" Cheight="30" MarginLeft="20" MarginTop="15"></app-loader>
                    <app-loader Cwidth="660" Cheight="30" MarginLeft="20" MarginTop="15"></app-loader>
                </div>
            </div>
            <div *ngIf="loaded">
                <ng-container *ngFor="let post of feed">
                    <div class="post">
                        <div class="top-post">
                            <div class="profile-pic">
                                <img width="40" height="40" [src]="profilePhoto ? profilePhoto : 'assets/images/user.png'" style="background-size:auto 100%;" class="profile-pic"  alt="">
                            </div>
                            <div class="header">
                                <a [href]="'/community/' + member.username" class="name">{{member.firstname}} {{member.lastname}}</a>
                                <div class="time">{{post.createdAt}}</div>
                            </div>
                            <div class="interests">
                                <ng-container *ngFor="let interest of post.feed.interests">
                                    <a class="interest" [href]="'/interests/' + interest.interestKey"><img src="assets/images/tag.png" width="12" height="12"> {{interest.interestName}}</a>    
                                </ng-container>
                            </div>
                        </div>
                        <div class="text">{{post.feed.content}}</div>
                        <div class="image" *ngIf="post.image !== null">
                            <img (click)="seePost(post)" [src]="post.image" style="background-size:auto 100%;" class="image"  alt="">
                        </div>
                        <div class="counts" *ngIf="post.feed.likesCount > 0 || post.feed.commentsCount > 0">
                            <button class="likes" *ngIf="post.feed.likesCount > 0">
                                <img src="assets/images/like_count.png" width="20" height="20">
                                <p class="like-count">{{post.feed.likesCount}}</p>
                            </button>
                            <button class="comments" *ngIf="post.feed.commentsCount > 0">{{post.feed.commentsCount}} comments</button>
                        </div>
                        <button class="like" (click)="like(post.feed)" [class]="post.feed.likedByMe ? 'isLiked' : 'notLiked'"><img [src]="post.feed.likedByMe ? '/assets/images/like_active.png' : '/assets/images/like_inactive.png' " width="20" height="20"> 
                            @if(post.feed.likedByMe){
                                Liked
                            }
                            @else{
                                Like
                            }
                        </button>
                        <button (click)="commentPost(post)" class="comment"><img src="/assets/images/comment.png" width="20" height="20"> Comment</button>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>